<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/vue.js"></script>
</head>
<body>
    <div id="root">
        <ul>
            <!-- v-for遍历数组 -->
            <li v-for="(p,index) in person" ::key="index">
                {{p.name}}-{{p.age}}--{{index}}
            </li><br><br>
            <!-- v-for遍历对象 -->
            <li v-for="(value,key) in cars" ::key="index">
                {{key}}---{{value}}
            </li><br><br>
            <!-- v-for遍历字符串 -->
            <li v-for="(single,index) in str" ::key="index">
                {{single}}---{{index}}
            </li><br><br>
            <!-- v-for遍历指定次数 -->
            <li v-for="(number,index) in 8" ::key="index">
                {{number}}---{{index}}
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#root',
            data: {
                person: [
                    {id: 001,name: 'zjj',age: 29},
                    {id: 002,name: 'ljm',age: 40},
                    {id: 003,name: 'ldh',age: 200},

                ],
                cars: {
                    name: 'lanbo',
                    age: 'oldprision',
                    fashion: 'nofashion'
                },
                str: 'hello'
            }
        })
    </script>
</body>
</html>